body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    background-color: #444;
  }

  
  .navbar .menu-icon {
    font-size: 35px;
    cursor: pointer;
    color: white;
    padding: 10px 30px;
    float: right;
  }

  .navbar .logo {
    display: inline-block;
    float: left;
  }
  
  /* Logo image styles */
  .navbar .logo-img {
    padding-top: 10px;
    margin-top: 5px;
    height: 50px;
    width: 50px;
    display: block;
  }

  .overlay-content .logo-img {
    padding-top: 10px;
    height: 60px;
    width: 60px;
    transition: all 0.3s ease;
  }

  .overlay-content .logo-img:hover{
    height: 70px;
    width: 70px;
  }

  .navbar .menu-icon:hover {
    background-color: #444;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .no-scroll {
    overflow: hidden; /* Prevent scrolling */
  }
  
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    justify-content: center; 
    align-items: center; 
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
    font-size: 40px;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: white;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  